<div class="footer">
	<div class="widget-area">
		<div class="widget-area-wrap">
			<div class="row">
				<div class="col-md-4">					
					{{>widget/about widget_title="About Me"}}
				</div>
				<div class="col-md-4">										
					{{>widget/newsletter widget_title="Newsletter" desc="Enter your email address and get all latest content delivered to your inbox a few times a month." form_url="http://sunflowertheme.us5.list-manage.com/subscribe/post?u=7e0a4b0ce5fd160742dc568d3&amp;id=cc1306b53a"}}
				</div>
				<div class="col-md-4">
					{{>widget/flickr widget_title="Flickr Stream" user_id="36587311@N08" display="10" cols="5"}}
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-area">
		<div class="bottom-area-wrap">
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<div class="circle main-color">						
						{{>misc/social-icons}}
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6">					
					<p class="copyright">Copyright &copy; 2015 <a href="/">{{@blog.title}}</a> All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</div>