<div class="widget about{{#unless widget_title}} no-title{{/unless}}{{#if custom_class}} {{custom_class}}{{/if}}">
	{{#if widget_title}}
	<h3 class="widget-title">{{{widget_title}}}</h3>
	{{/if}}
	<div class="widget-content">
		<div class="about-container">
			<div class="avatar">
				<img class="img-responsive" src="/shared/img/user-image.png" alt="avatar"/>
			</div>
			<div class="desc">
				<h4 class="author-name">Son Pham</h4>	
				<p>
					Web Developer since more than 8 years. Passionate by Front-end, NodeJS, WordPress.
				</p>				
			</div>
		</div>
	</div>
</div>