<div class="sidebar-wrap">	
	{{>widget/search widget_title="Search"}}
	{{>widget/tags widget_title="Tags"}}
	{{>widget/about}}
	{{>widget/facebook-like widget_title="Like Us" fanpage_url="https://www.facebook.com/beunmistakable" show_faces="true" show_header="true" show-stream="false" show_border="true"}}		
	{{>widget/dribbble widget_title="Dribbble Stream" user_name="dekkerslade" display="12" cols="3"}}	
	{{>widget/social widget_title="Stay Connected"}}
	{{>widget/text widget_title="Text Widget" text_content="<p>Put any text here, <strong>html tags</strong> also support</p>Cred listicle trust fund 8-bit Blue Bottle, tousled flannel pickled Neutra hoodie High Life. Meggings Pinterest master cleanse, fanny pack aesthetic small batch gluten-free try-hard pop-up Williamsburg. Meggings aesthetic pour-over mlkshk DIY. Sustainable paleo freegan, listicle normcore drinking vinegar crucifix mlkshk quinoa Echo Park scenester Helvetica."}}
</div>