{{!Begin of Social Icon List}}
<ul class="sf-social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="#" target="_blank" title="Facebook"> {{!Change href="#" to href="https://facebook.com/beunmistakable"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="#" target="_blank" title="Twitter"> {{!Change href="#" to href="http://snip.ly/DU1E"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="google">
		<a href="#" target="_blank" title="Google"> {{!Change href="#" to href="https://plus.google.com/u/2/b/115902177599686834529/115902177599686834529"}}
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="pinterest">
		<a href="#" target="_blank" title="pinterest"> {{!Change href="#" to href="http://snip.ly/eRK5"}}
			<i class="fa fa-pinterest"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!End Social item}}
	<li class="instagram">
    	<a href="#" target="_blank" title="instagram"> {{!Change href="#" to href="https://instagram.com/emmaserino/"}}
        	<i class="fa fa-instagram"></i> {{!Change icon for social item here}}
    	</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="tumblr">
    	<a href="#" target="_blank" title="tumblr"> {{!Change href="#" to href="SOCIAL_URL"}}
        	<i class="fa fa-tumblr"></i> {{!Change icon for social item here}}
    	</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="email">
    	<a href="#" target="_blank" title="email"> {{!Change href="#" to href="SOCIAL_URL"}}
        	<i class="fa fa-envelope-o"></i> {{!Change icon for social item here}}
    	</a>
	</li>
	{{!End Social item}}
	
	{{!Paste new social icons here}}
	
</ul>
{{!End of Social Icon List}}