{{!Begin of Social Icon List}}
<ul class="sf-social">
	{{!Begin Social item}}
	<li class="facebook">
		<a href="#" target="_blank" title="Facebook"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="twitter">
		<a href="#" target="_blank" title="Twitter"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="google">
		<a href="#" target="_blank" title="Google"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-google-plus"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="linkedin">
		<a href="#" target="_blank" title="LinkedIn"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-linkedin"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="skype">
		<a href="#" target="_blank" title="skype"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-skype"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="pinterest">
		<a href="#" target="_blank" title="pinterest"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-pinterest"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="dribbble">
		<a href="#" target="_blank" title="dribbble"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-dribbble"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}